astroid==2.5.2
attrs==20.3.0
autopep8==1.5.6
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
Deprecated==1.2.12
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.63.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
iniconfig==1.1.1
isort==5.8.0
jose==1.0.0
lazy-object-proxy==1.6.0
makefun==1.11.2
mccabe==0.6.1
mongoengine==0.23.0
motor==2.3.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
PyJWT==1.7.1
pylint==2.7.4
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.3
pytest-asyncio==0.14.0
python-dotenv==0.16.0
python-jose==3.2.0
python-multipart==0.0.5
requests==2.25.1
rfc3986==1.4.0
rsa==4.7.2
six==1.15.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.5
uvicorn==0.13.4
wrapt==1.12.1
